<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
<!--            <pattern>%d %-5level %logger{16} - %msg%n</pattern>-->
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="art.aelaort." level="INFO"/>-->

    <root level="OFF">
<!--    <root level="info">-->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>